{% extends 'basic_1.html' %}
{% load crispy_forms_tags %}
{% block css %} 
    <style>
        .main_2{
                
                padding-top:2%;
                padding-bottom:30%;
            }
        @media screen and (max-width: 700px) {
            .main_2{
                width: 100%;
                padding-top:2%;
                padding-bottom:30%;
            }
        }
    </style>

{% endblock %}
{% block content %}
        <div class="inner 4u main_2">
            <h3>Activation Link sent! Please check your mail, please wait for few minutes.</h3>
        </div>
{% endblock content %}
