{% extends 'basic_1.html' %}
{% block css %} 
    <style>
        @media screen and (max-width: 700px) {
            .main_2{
                width: 100%;
                padding-top: 2%;
                padding-bottom: 3%;
            }
        }
    </style>

{% endblock %}
{% block content %}
<div class="main_2 inner">
        <h2>You have been logged Out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a  href="{% url 'login' %}">Log In</a>
            </small>
        </div>
        
</div>
{% endblock content %}
