{% extends 'basic_1.html' %}
{% load crispy_forms_tags %}
{% block css %} 
    <style>
        .main_2{
                
                padding-top:2%;
                padding-bottom:25%;
            }
        @media screen and (max-width: 700px) {
            .main_2{
                width: 100%;
                padding-top:2%;
                padding-bottom:7%;
            }
        }
    </style>

{% endblock %}
{% block content %}
    <div class="inner 4u main_2">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
               {{form|crispy}}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btm btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}
