{% extends 'basic_1.html' %}
{% load crispy_forms_tags %}
{% block css %} 
    <style>
        .main_2{
                
                padding-top:2%;
                padding-bottom:25%;
            }
        @media screen and (max-width: 700px) {
            .main_2{
                width: 100%;
                padding-top:2%;
                padding-bottom:20%;
            }
        }
    </style>

{% endblock %}
{% block content %}
        <div class="main_2 4u inner">
            An E-mail has been send with instruction to reset your password.
        </div>
{% endblock content %}
