{% extends 'basic_1.html' %}
{% load crispy_forms_tags %}
{% block css %} 
    <style>
        .main_2{
                
                padding-top:2%;
                padding-bottom:30%;
            }
        @media screen and (max-width: 700px) {
            .main_2{
                width: 100%;
                padding-top:2%;
                padding-bottom:30%;
            }
        }
    </style>

{% endblock %}
{% block content %}
<div class="main_2 inner 4u">
        
            Your New Password has been set.<br>
        
        <a href="{% url 'login' %}">Sign in here</a>
    </div>
{% endblock content %}
