{% extends 'basic_1.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="inner media_1">
    <div id="mobi_1" >
      <img class="account-img image_profile" src="{{user.profile.image.url}}">
      <div style="margin-left: 3%;">
        <h2 class="account-heading p-3">{{user.username}}</h2>
        
        <p class="ml-3 p-0"> Address : {{user.profile.address}} </p>
      
        <p class="ml-3 p-0"> Phone No. : {{user.profile.phone_number}}</p>
        
        <a href="#" style="font-weight: bolder;" id="hide_pro">
          <i class="fas fa-user-cog" id="editProfile" style="color: grey;">Edit profile</i>
        </a>
      </div>
      <div class="main_4"></div>
      <div>
        
      {% for error in p_form.errors %}
          <h3 class="help is-danger" style="color: red;">{{error}} Wrong Input, This will not update in our database.</h3>
      {% endfor %}
      </div>
      {% if messages %}
          <ul class="messages">
              {% for message in p_forms.messages %}
              <li><h2 {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h2></li>
              {% endfor %}
          </ul>
      {% endif %}
      
    </div>
    <!-- FORM HERE -->
    <div>
      <form id="hidden_profile" method="POST" enctype="multipart/form-data"style="visibility:hidden" >
          {% csrf_token %}
          <fieldset class="form-group mt-5">
              <legend class="border-bottom mb-4">Update Profile Info 
                
              </legend>
              <div>
                  
                  {{p_form|crispy}}
                  <br>
                <div class='mt-5 border-top '>
                  <button class="btn btn-outline-info" type="submit">Update</button>
                  <button class="btn" type="submit" >
                    <a href="{% url 'logout' %}" > Log Out</a>
                  </button>
                </div>
                
           </div>
      </fieldset>
      </form>
    </div>
  </div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready(function(){
    $("#hide_pro").click(function(){
      $.ajax({success: function(result){
        if (document.getElementById("hidden_profile").style.visibility == "hidden")
         document.getElementById("hidden_profile").style.visibility = "visible";
         else
         document.getElementById("hidden_profile").style.visibility = "hidden";
      }});
    });
  });

 
 var alerted = localStorage.getItem('alerted') || '';
    if (alerted != 'yes') {
     alert("Add your address and phone number, click on edit profile!!!");
     localStorage.setItem('alerted','yes');
    }

   
</script>
{% endblock %}

{% block css %}
<style>
    .image_profile{
      width:350px;
      height:350px;
    }
    #mobi_1{
      display:flex;
      padding-top:3%;
    }
    .main_4{
      background-image: url('../media/images/pen.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      height: 350px;
      width: 350px;
      margin-left:20%;
    }
       /* Add the blur effect */
     /* filter: blur(4px);
      -webkit-filter: blur(4px);
      height: 800px;
      width: 100%;
      
    }*/
    @media screen and (max-width: 900px) {
      .image_profile{
      width:100%;
      height:auto;
    }
      #mobi_1{
      display:block;
      padding-top:3%;
    }
    .main_4{
      display: none;
    }
    }
</style>

{% endblock css %}